#projects {
    margin: 0 auto;
    min-height: calc(100vh-4rem);
    width: 100vw;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
}

.projectsBtn{
    color: black;
    background-color: white;
    padding: 0.2rem 0.5rem;
    margin: 1rem 0.3rem 0;
    font-size: 0.8rem;
    border: none;
    border-radius: 1rem;
}

.projectsBtn:hover {
    background-image: linear-gradient(rgb(0 0 0/20%) 0 0);
    cursor: pointer;
  }

.imgText {
    position: absolute;
    bottom: 30%;
    left: 0;
    width: 100%;
    padding: 1.5rem;
    background: rgba(0, 0, 0, 0.45);
    color: white;
    text-align: center;
    margin-left: 0.5rem;
    font-size: 0.9rem;
    font-weight: 300;
}

.imgText:hover{
    background: rgba(0, 0, 0, 0.6);
}

.projectsTitle{
    font-size: 3rem;
    font-weight: 600;
    margin: 0.8rem 0;
    padding-top: 1rem;
}

.projectsDescription{
    font-weight: 300;
    font-size: 0.9rem;
    max-width: 45rem;
    padding: 0 2rem;
    margin-bottom:2rem;
}

.projectsImgs{
   display: flex;
   align-items: centers;
   justify-content: center;
   flex-wrap: wrap;
   width: 100vw;
   max-width: 65rem;
}

.projectsImgContainer{
    position: relative;
    height: 25rem;
    width: 20rem;
    border-radius: 2rem;
    max-width: 100%;
    margin: 0.5rem;
}

.projectsImg{
    object-fit: cover;
    height: 25rem;
    width: 20rem;
    margin: 0.5rem;
    border-radius:2rem;
}

.projectsHeader{
    font-size: 2rem;
    color: white;
    text-align: center;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    height: fit-content;
    margin:auto;
}

@media screen and (max-width: 675px){
    .projectsImg{
        height:85vw;
    }

    .projectsImgContainer{
        height:85vw;
    }
}