#about {
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.aboutTitle{
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
}

.aboutTitle2{
    font-size: 2.3rem;
    font-weight: 600;
    padding-top: 1.8rem;
    margin-top: 1rem;
}

.aboutTitle3{
    font-size: 2.3rem;
    font-weight: 600;
    padding-top: 0.8rem;
}

.aboutDescription{
    font-weight: 300;
    font-size: 0.9rem;
    max-width: 50rem;
    padding: 0 2rem;
}

.aboutBars{
    margin: 1.5rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;
}

.aboutBar{
    display: flex;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: rgb(50,50,50);
}

.aboutBarImg1{
    object-fit: cover;
    height: 4rem;
    width: 3.5rem;
    margin-right: 2rem;
    margin-top: 0.8rem;
}

.aboutBarImg2{
    object-fit: cover;
    height: 3.5rem;
    width: 3.5rem;
    margin-right: 2rem;
    margin-top: 0.4rem;
}

.aboutBarText>p{
    font-size: 0.9rem;
    font-weight: 375;
}

@media screen and (max-width:720px){
    .aboutBarText>p{
        font-size: 2vw;
    }
    .aboutBarImg1{
        margin-top:0.7rem;
    }
    .aboutBarImg2{
        margin-top:0.3rem;
    }
}

@media screen and (max-width:560px){
    .aboutBarText>p{
        font-size: 3vw;
    }

    .aboutBarImg1{
        height:2.25rem;
        width:2.25rem;
        margin-top:2rem;
    }

    .aboutBarImg2{
        height:2.25rem;
        width:2.25rem;
        margin-top:2rem;
    }

    .aboutBarText>h2{
        font-size: 5vw;
    }
}