#contactPage {
    min-height: calc(100vh-4rem);
    width: 100vw;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contactPageTitle{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.techstackDesc{
    font-weight: 300;
    font-size: 0.9rem;
}

.techstackImgs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.techstackImg{
    object-fit: contain;
    width: 23%;
    min-width: 9rem;
    padding: 0.75rem 0.75rem 0;
    margin: 0 0.25rem;
}

#techstack{
    padding: 2rem;
    margin-top: 2.5rem;
}

.contactDesc{
    padding: 1rem;
    font-size: medium;
    font-weight: 300;
}

.contactForm {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 60rem;
}

@media screen and (max-width: 720px){
    .contactForm{
        padding: 2rem;
    }
    #contact{
        padding-top: 3.6rem;
        padding-bottom: 1rem;
    }
    #techstack{
        margin-top: 3rem;
    }
}

@media screen and (max-width: 690px){
    #contact{
        padding-top: 3.67rem;
        padding-bottom: 1rem;
    }
}

.name, .email, .msg{
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background: rgb(40, 40, 40);
}

.submitBtn{
    background: white;
    border: none;
    padding: 0.75rem 3.5rem;
    border-radius: 0.5rem;
    margin: 2rem 2rem 1rem;
}

.links{
    display: flex;
    flex-wrap: wrap;
}

.link {
    object-fit: cover;
    height: 3rem;
    width: 3rem;
}

.contactBtn{
    background: #15F593;
    margin: 1rem 0.5rem 1rem 0rem;
    padding: 0.75rem 0.5rem;
    border: none;
    border-radius: 3rem;
    font-weight: 600;
    font-size: 0.75rem;
    width: 2.5rem;
    height: 2.5rem;
    color: white;
}

.contactBtn2{
    background: white;
    margin: 1.9rem 0.6rem 1rem rem;
    margin-bottom: 0.1rem;
    padding: 0.5rem 0.7rem;
    border: none;
    border-radius: 3rem;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-flex;
    vertical-align: middle;
}

.svg2{
    height: 1.5rem;
    width: 1.5rem;
}

.contactBtn:hover, .contactBtn2:hover{
    background-image: linear-gradient(rgb(0 0 0/20%) 0 0);
  }